.policy {
  &-header {
    width: 100%;
    height: 64px;
    margin: 0 auto;
    font-size: 19px;
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: 79px;
  }
  &-content {
    margin: 40px 0 120px;
    & > .p1 > b {
      font-weight: bold;
    }
  }
}