.service {
  &-checking {
    &__title {
      padding-top: 80px;
    }
    &__contents {
    }
    &__fig {
      width: 240px;
      margin: 0 auto;
    }
    &__info {
      position: absolute; left: 50%;
      transform: translateX(-50%);
      width: 435px;
      padding: 24px 0 40px;
      color: #333333;
      font-size: 14px;
      font-family: "Noto Sans KR";
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: -0.1px;
      text-align: center;
    }
    &__guide {
      position: absolute; left: 50%;
      transform: translateX(-50%);
      width: 335px;
      padding: 20px 24px;
      margin: 106px 0 474px;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      background-color: #fafafa;
      &--list {
        padding-bottom: 10px;
        font-size: 12px;
        font-family: "Noto Sans KR";
        line-height: 1.5;
        letter-spacing: -0.1px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &--title {
        display: inline-block;
        width: 88px;
        margin-right: 20px;
        color: #333333;
        font-weight: bold;
        vertical-align: top;
      }
      &--info {
        display: inline-block;
        width: 170px;
        color: #666666;
        font-weight: 500;
        vertical-align: top;
      }
    }

  }
}