.stores{
  &-title{
    margin-bottom: 20px;
  }
  &-menu{
    margin: 56px 0 40px;
  }
  &-list{
    &__title{
      margin:20px 0 32px;
      color: #999999;
      font-size: 14px;
      font-family: 'Noto Sans KR';
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: -0.1px;
    }
  }
  &-contents{
    padding-bottom: 60px;
    border-bottom: 1px solid #eeeeee;
    &__wrapper{
      display: inline-block;
      margin-bottom: 60px;
      margin-right: 57px;
      width: 250px; height: auto;
      vertical-align: top;
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &__title{
      padding-bottom: 16px;
      color: #333333;
      font-size: 16px;
      font-family: 'Noto Sans KR';
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: -0.1px;
    }
    &__info{
      position: relative;
      padding-left: 25px;
      padding-bottom: 10px;
      color: #666666;
      font-size: 14px;
      font-family: 'Noto Sans KR';
      line-height: 1.5;
      letter-spacing: -0.1px;
      overflow: hidden;
      &:last-child{
        padding-bottom: 0;
      }
      a{
        color: #4ba4d9;
        text-decoration: underline;
      }
    }
    &__ico{
      position: absolute;
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-top: 3.3px;
      margin-right: 12px;
      left: 0;
      top: 0;
      background-size:100% 100%;
      background-repeat: no-repeat;
    }
    .store{
      background-image: url(~@/assets/images/pc/icons/ic-store.svg);
    }
    .place{
      width: 13px; height: 17px;
      background-image: url(~@/assets/images/pc/icons/ic-place.svg);
    }
    .call{
      background-image: url(~@/assets/images/pc/icons/ic-call.svg);
    }
    .time{
      background-image: url(~@/assets/images/pc/icons/ic-time.svg);
    }
  }
}