@import "./member/privercyList";
@import "./page/member/join";
@import "./aseets/buttons/underBarButton";
@import "./page/member/emailSendSuccess";
@import "./page/member/joinComplate";
@import "./mypage/myInfoTable";
@import "./page/mypage/myInfo";
@import "./layout/header/emailHeader";
@import "./page/member/emailSendPassword";
@import "./page/member/emailSendPasswordSuccess";
@import "./page/goods/list.scss";
@import "./goods/goodsListHeader.scss";
@import "./aseets/select.scss";
@import "./goods/goodsTab.scss";
@import "./page/goods/detail.scss";
@import "./goods/goodsCharOption.scss";
@import "./goods/goodsDetailHeader.scss";
@import "./goods/detailTab.scss";
@import "./aseets/spinner.scss";
@import "./goods/detailInfo.scss";
@import "./goods/detailRecommand.scss";
@import "./goods/detailReview.scss";
@import "./aseets/reviewSwitch.scss";
@import "./goods/detailBuyInfo.scss";
@import "./goods/detailContact.scss";
@import "./mypage/contactUsTable.scss";
@import "./goods/detailList.scss";
@import "./layout/common/layerPopup.scss";
@import "./order/orderContainer.scss";
@import "./order/orderButton.scss";
@import "./order/orderInfo.scss";
@import "./goods/detailNoData.scss";
@import "./mypage/tableList.scss";
@import "./aseets/heartCheckBox.scss";
@import "./member/memberFooter.scss";
@import "./page/member/login.scss";
@import "./page/search/search.scss";
@import "./layout/header/header.scss";
@import "./aseets/buttons/defaultButton.scss";
@import "./aseets/buttons/whiteButton.scss";
@import "./aseets/input.scss";
@import "./aseets/pagination.scss";
@import "./aseets/switch.scss";
@import "./auth/SNSLogin.scss";
@import "./goods/goodsitem/goodsHorizontal.scss";
@import "./goods/goodsitem/goodsitemDoubleLine.scss";
@import "./goods/goodsitem/goodsItemSingleLine.scss";
@import "./goods/goodsitem/goodsThumbItem.scss";
@import "./goods/goodsBestList.scss";
@import "./goods/goodsList.scss";
@import "./order/orderContainer.scss";
@import "./goods/goodsSwiper.scss";
@import "./goods/goodsThreeColumn.scss";
@import "./goods/goodsThumbList.scss";
@import "./layout/common/banner.scss";
@import "./layout/common/breadCrumbs.scss";
@import "./layout/common/fileItem.scss";
@import "./layout/common/infoLayerPopup.scss";
@import "./layout/common/informationTitle.scss";
@import "./layout/common/layoutFull.scss";
@import "./layout/common/MainWrapper.scss";
@import "./layout/common/startRating.scss";
@import "./layout/common/tabContainer.scss";
@import "./layout/footer/footer.scss";
@import "./layout/header/headerUpper.scss";
@import "./layout/header/headerWrapper.scss";
@import "./main/halfList.scss";
@import "./main/instaList.scss";
@import "./main/mainArticle.scss";
@import "./main/slide.scss";
@import "./member/memberItem.scss";
@import "./member/memberLayout.scss";
@import "./member/memberTitle.scss";
@import "./mypage/tableList.scss";
@import "./mypage/mainTitle.scss";
@import "./mypage/menuWrap.scss";
@import "./mypage/orderDetailHeader.scss";
@import "./mypage/payInfo.scss";
@import "./mypage/status.scss";
@import "./mypage/tableListHorizontal.scss";
@import "./mypage/wish.scss";
@import "./page/main/main.scss";
@import "./page/main/mainSingle.scss";
@import "./page/member/passwordReset.scss";
@import "./aseets/textAreaItem.scss";
@import "./page/others/store.scss";
@import "./others/storeItem.scss";
@import "./others/storeSlide.scss";
@import "./others/storeTabs.scss";
@import "./page/policy/contents.scss";
@import "./page/others/serviceError.scss";
@import "./page/etc/faq.scss";
@import "./page/others/characterBt21.scss";
@import "./others/bt21Box.scss";
@import "./others/friendsBox.scss";
@import "./page/others/characterFriends.scss";
@import "./goods/detailCoupon.scss";
@import "./page/notice/list.scss";
@import "./others/projectItem.scss";
@import "./others/projectTitle.scss";
@import "./others/projectTabs.scss";
@import "./others/projectGoodsSingle.scss";
@import "./others/projectGoodsList.scss";
@import "./page/others/projectDetail.scss";
@import "./page/others/projectDetailCoupon.scss";
@import "./page/others/projectDetailNoCoupon.scss";
@import "./page/others/projectDetailNoTab.scss";
@import "./goods/goodsPromotion.scss";
@import "./popup/orderAddreviewPopupNew.scss";
@import "./page/mypage/myReview.scss";
@import "./payco/common.scss";
@import "./goods/detailReserve.scss";
@import "./page/mypage/myReviewsNew.scss";
@import "./page/mypage/productinquiry/productInquiryCardNew.scss";
@import "./page/others/serviceChecking.scss";
@import "./popup/CommonPopup.scss";

.txt-interval {
  padding-top: 16px;
}

.active-red {
  color: #ff414e;
}

.link-blue {
  color: #4ba4d9;
  text-decoration: underline;
}

.layout-width {
  max-width: 1180px;
  width: 1180px;
  height: auto;
  margin: 0 auto;
  &__active {
    position: relative;
  }
}
.min-height-layout {
  min-height: 595px;
}
.white-space {
  margin: 0 0 120px;
}
.min-height-layout {
  min-height: 960px;
}
.white-space {
  margin: 120px 0;
}

.slick {
  &-arrow {
    font-size: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translatey(-50%);
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
    opacity: 0;
    transition: 0.3s;
  }

  &-prev {
    background-image: url("/static/images/pc/icons/ic-prev.svg");
    left: 40px;
  }

  &-next {
    background-image: url("/static/images/pc/icons/ic-next.svg");
    right: 40px;
  }
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  &:hover .slick-arrow {
    transition: 0.3s;
    opacity: 1;
  }
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  & > li {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 16px;
    background-color: #ffffff;
    opacity: 0.5;
    &:last-child {
      margin-right: 0;
    }
    &-active {
      background-color: #333333;
    }

    > button {
      display: none;
    }
  }
  & > .slick-active {
    background-color: #ffffff;
    opacity: 1;
  }
}
