@charset "utf-8";

* {
  word-wrap: break-word;
  word-break: break-all;
}

body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-size: 2.6666666667vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

fieldset,
li {
  border: 0;
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

img {
  border: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

address,
caption,
em {
  font-style: normal;
}

a {
  outline: none;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

hr {
  display: none;
}

.blind,
legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.1rem;
  height: 0.1rem;
  font-size: 0.1rem;
  line-height: 10.0rem;
  white-space: nowrap;
}

@font-face {
  font-family: 'NotoSansCJKJP';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/NotoSansCJKjp-Thin.otf');
}

@font-face {
  font-family: 'NotoSansCJKJP';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/NotoSansCJKjp-Light.otf');
}

@font-face {
  font-family: 'NotoSansCJKJP';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NotoSansCJKjp-DemiLight.otf');
}

@font-face {
  font-family: 'NotoSansCJKJP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansCJKjp-Regular.otf');
}

@font-face {
  font-family: 'NotoSansCJKJP';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NotoSansCJKjp-Medium.otf');
}

@font-face {
  font-family: 'NotoSansCJKJP';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansCJKjp-Bold.otf');
}

@font-face {
  font-family: 'NotoSansCJKJP';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/NotoSansCJKjp-Black.otf');
}

@font-face {
  font-family: 'Volte';
  font-weight: 200;
  src: url("../fonts/Volte-Light.woff") format("woff");
}

@font-face {
  font-family: 'Volte';
  font-weight: 400;
  src: url("../fonts/Volte-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Volte';
  font-weight: 600;
  src: url("../fonts/Volte-Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Volte';
  font-weight: 700;
  src: url("../fonts/Volte-Bold.woff") format("woff");
}

body {
  font-family: 'NotoSansCJKJP', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
select,
textarea {
  font-family: 'NotoSansCJKJP';
  background-color: transparent;
  -webkit-appearance: none;
  line-height: 2rem;
}

.wrap {
  position: relative;
  overflow: hidden;
}

pre {
  font-family: 'NotoSansCJKJP', sans-serif;
  white-space: pre-wrap;
}

i {
  font-style: normal;
}

.disp-blk {
  display: block !important;
}

.disp-none {
  display: none !important;
}

.wrapper-sp {
  position: relative;
}

.wrapper-sp #container {
  margin: 0 auto;
}

.w-70p {
  width: 70% !important;
}

.w-77p {
  width: 77% !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 1rem !important;
}

.mt-20 {
  margin-top: 2rem !important;
}

.mt-24 {
  margin-top: 2.4rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-10 {
  padding-top: 1rem !important;
}

.pt-14 {
  padding-top: 1.4rem !important;
}

.pt-16 {
  padding-top: 1.6rem !important;
}

.pt-28 {
  padding-top: 2.8rem !important;
}

.pt-40 {
  padding-top: 4rem !important;
}

.pr-7 {
  padding-right: 0.7rem !important;
}

.wrapper-sp .style-volte {
  font-family: 'Volte';
}

/* input */
.wrapper-sp input {
  width: 100%;
  height: 5.2rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #dddddd;
  padding: 1.6rem 2.0rem;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.wrapper-sp input.size_m {
  height: 4.0rem;
  padding: 1rem 1.2rem;
}

.wrapper-sp input:disabled {
  background-color: #fafafa;
}

.wrapper-sp input.error {
  border: solid 0.1rem #ff5a5f;
}

.wrapper-sp input:focus,
.wrapper-sp input.focus {
  border: solid 0.1rem #999;
}

.wrapper-sp input::-webkit-input-placeholder {
  letter-spacing: -0.05rem;
  font-size: 1.4rem;
  color: #ababab;
  transform: translate(0, 0.1rem);
}

.wrapper-sp input::-moz-placeholder {
  letter-spacing: -0.05rem;
  font-size: 1.4rem;
  color: #ababab;
  transform: translate(0, 0.1rem);
}

.wrapper-sp input:-ms-input-placeholder {
  letter-spacing: -0.05rem;
  font-size: 1.4rem;
  color: #ababab;
  transform: translate(0, 0.1rem);
}

.wrapper-sp input::-ms-clear {
  display: none;
}

.wrapper-sp input[type='checkbox'],
.wrapper-sp input[type='radio'] {
  width: 0;
  height: 0;
  opacity: 0;
  border: 0;
  display: none;
  -webkit-appearance: none;
}

.wrapper-sp input[type='checkbox']+label {
  padding-left: 2.8rem;
  color: #333;
}

.wrapper-sp input[type='checkbox']+label:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 2.0rem;
  height: 2.0rem;
  box-sizing: border-box;
  content: '';
  background: url('../img/icon/ico_check.png');
  background-size: cover;
}

.wrapper-sp input[type='checkbox']:checked+label:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 2.0rem;
  height: 2.0rem;
  box-sizing: border-box;
  z-index: 1;
  content: '';
  background: url('../img/icon/ico_checked.png');
  background-size: cover;
}

.wrapper-sp input[type='checkbox']:disabled {
  pointer-events: none;
}

.wrapper-sp input[type='checkbox']:disabled+label:after {
  background: url('../img/icon/ico_checkdis.png');
  background-size: cover;
}

.wrapper-sp input[type='checkbox']:disabled+label:before {
  display: none;
}

.wrapper-sp .bx_input.size_l input[type='checkbox']+label:after,
.wrapper-sp .bx_input.size_l input[type='checkbox']+label:before {
  width: 2.4rem;
  height: 2.4rem;
}

.wrapper-sp .bx_input>label {
  cursor: pointer;
}

.wrapper-sp .bx_input>label.txt {
  padding-left: 0.12rem;
  font-size: 1.4rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  vertical-align: middle;
  color: #333;
}

.wrapper-sp .bx_input>label.txt.green {
  color: #16d265;
}

.wrapper-sp input[type='radio']+label.radio {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.1rem #dcdcdc;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
}

.wrapper-sp input[type='radio']:checked+label.radio:before {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  z-index: 1;
  width: 1.0rem;
  height: 1.0rem;
  background-color: #00d664;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
}

.wrapper-sp input[type='radio']:disabled+label.radio {
  cursor: default;
}

.wrapper-sp input[type='radio']:disabled+label.radio:before {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  z-index: 1;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -0.7rem;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #c4c4c4;
  content: '';
}

/* input */
.wrapper-sp textarea {
  font-size: 1.4rem;
  width: 100%;
  border-radius: 0.4rem;
  border: solid 0.1rem #dddddd;
  padding: 1.6rem 1.0rem;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
  resize: none;
}

.wrapper-sp textarea:disabled {
  background-color: #fafafa;
}

.wrapper-sp textarea.error {
  border: solid 0.1rem #ff5a5f;
}

.wrapper-sp textarea::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #ababab;
}

.wrapper-sp textarea::-moz-placeholder {
  font-size: 1.4rem;
  color: #ababab;
}

.wrapper-sp textarea:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #ababab;
}

/* old textarea start */
.wrapper-sp .bx_write {
  border: .1rem solid #ddd;
  height: auto;
  box-sizing: border-box;
  font-size: 0;
  border-radius: 0.4rem;
}

.wrapper-sp .bx_write textarea {
  display: block;
  width: 100%;
  height: 21.0rem;
  border: 0;
  outline: none;
  overflow-y: auto;
  padding: 1.5rem 2.0rem 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #333;
  line-height: 2rem;
  resize: none;
}

.wrapper-sp .bx_write .text_count {
  padding: 0rem 2rem 1.5rem;
  display: block;
  text-align: right;
  background: #fff;
  color: #999;
  font-size: 1.4rem;
}

.wrapper-sp .bx_write .text_count .num {
  color: #333;
  font-weight: bold;
}

/* old textarea end */

/* new textarea start  tips:you'd better copy the script too */
.wrapper-sp .bx_write {
  position: relative;
}

.wrapper-sp .bx_write_placeholder .text_area {
  position: relative;
  z-index: 2;
  background: transparent;
}

.wrapper-sp .text_area_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 21rem;
  overflow-y: auto;
  padding: 1.5rem 2.0rem 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #ababab;
  z-index: 1;
}

.wrapper-sp .bx_write .text_count {
  border-radius: 0.4rem;
  font-family: 'Volte';
}

.wrapper-sp .bx_write .text_count,
.wrapper-sp .bx_write .text_count .num {
  font-weight: 600;
}

/* new textarea end */

.wrapper-sp .bx_input {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.wrapper-sp .select_normal {
  position: relative;
}

.wrapper-sp .select_normal select {
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  width: 100%;
  height: 5.2rem;
  color: #666;
  font-size: 1.4rem;
  padding: 0 4rem 0 1.5rem;
  position: relative;
  z-index: 2;
  outline: none;
  position: relative;
  z-index: 11;
}

.wrapper-sp .select_normal .ico_arrow {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 2.0rem;
  width: 1.2rem;
  height: 0.6rem;
  margin-top: -0.3rem;
  font-size: 0;
  content: '';
  background: url('../img/icon/ico_select.png') center center no-repeat;
  background-size: 1.2rem 0.6rem;
  z-index: 13;
}

.wrapper-sp .birthday_sel {
  display: flex;
  justify-content: space-between;
}

.wrapper-sp .birthday_sel .select_normal {
  width: 32%;
}

@media screen and (max-width:340px) {
  .wrapper-sp .select_normal select {
    padding: 0 3.2rem 0 1rem !important;
  }
}

/* bx_select */
.wrapper-sp .bx_select {
  position: relative;
  z-index: 50;
}

.wrapper-sp .bx_select .txt_select {
  font-family: 'NotoSansCJKJP', sans-serif;
  position: relative;
  display: block;
  padding: 0 4.6rem 0 2.0rem;
  background-color: #fff;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  box-sizing: border-box;
  height: 5.2rem;
  line-height: 5.0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.wrapper-sp .bx_select.on .txt_select {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.wrapper-sp .bx_select.on .lst_select_content {
  display: block;
}

.wrapper-sp .bx_select.right .txt_select {
  text-align: right;
}

.wrapper-sp .bx_select.right .enter_text {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 90px;
  z-index: 100;
  background: transparent;
}

/* .wrapper-sp .bx_select.right .txt_select:before {
  content: '';
  display: block;
  width: 0.1rem;
  height: 1.4rem;
  background: #333;
  position: absolute;
  left: 2rem;
  top: 1.8rem;
} */


.wrapper-sp .bx_select.right .txt_select.on {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.wrapper-sp .input_area {
  display: none;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  position: absolute;
  background: #fff;
  z-index: 12;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  box-sizing: border-box;
}

.wrapper-sp .input_area input {
  box-sizing: border-box;
  background: #fff;
  border: none;
  width: 100%;
  height: 5rem;
  padding-right: 9rem;
}

.wrapper-sp .input_area .text_count_data {
  position: absolute;
  top: 1.8rem;
  right: 4.2rem;
  font-family: 'volte';
  font-size: 14px;
  font-weight: 600;
  color: #999;
}

.wrapper-sp .input_area .text_count_data .num {
  color: #333;
  font-size: 14px;
}

.wrapper-sp .bx_select .select_vle {
  color: #333;
}

.wrapper-sp .bx_select .ico_arrow {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 2.0rem;
  width: 1.2rem;
  height: 0.6rem;
  margin-top: -0.3rem;
  font-size: 0;
  content: '';
  background: url('../img/icon/ico_select.png') center center no-repeat;
  background-size: 1.2rem 0.6rem;
}

.wrapper-sp .bx_select .txt_select.on .ico_arrow {
  background: url('../img/icon/ico_select_open.png') center center no-repeat;
  background-size: 1.2rem 0.6rem;
}

.wrapper-sp .bx_select .lst_select_content {
  display: none;
  overflow-y: auto;
  position: absolute;
  top: 5.1rem;
  left: 0;
  right: 0;
  z-index: 10;
  border: 0.1rem solid #ddd;
  border-top: none;
  background: #fff;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.wrapper-sp .bx_select .lst_select_content li a {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 2.0rem;
  color: #333 !important;
  line-height: 5.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none !important;
}

.wrapper-sp .bx_select .lst_select_content li.disabled a:hover {
  color: #969696;
}

.wrapper-sp .bx_select .lst_select_content li:hover a {
  background-color: #fafafa;
}

.wrapper-sp .bx_select .txt_select.on+.lst_select_content {
  display: block;
}

.wrapper-sp .bx_select.disabled .txt_select {
  cursor: default;
}

.wrapper-sp .bx_select.disabled .txt_select .select_vle {
  opacity: 0.4;
}

.wrapper-sp .bx_select.size_m .txt_select {
  padding: 0 2.2rem 0 1.2rem;
  height: 4.0rem;
  line-height: 3.8rem;
}

.wrapper-sp .bx_select.size_m .lst_select_content {
  top: 3.8rem;
}

.wrapper-sp .bx_select.size_m .lst_select_content li a {
  padding: 0 1.2rem;
  line-height: 4.0rem;
}

.wrapper-sp .bx_select.size_m .ico_arrow {
  right: 1.2rem;
  width: 1.0rem;
  height: 0.5rem;
  margin-top: -0.25rem;
  background: url('../img/icon/ico_select.png') center center no-repeat;
  background-size: 1rem 0.5rem;
}

.wrapper-sp .bx_select.size_m .txt_select.on .ico_arrow {
  background: url('../img/icon/ico_select_open.png') center center no-repeat;
  background-size: 1rem 0.5rem;
}

/* pagination */
.wrapper-sp .pagination {
  width: 100%;
  font-size: 0;
  text-align: center;
}

.wrapper-sp .pagination .next,
.wrapper-sp .pagination .prev {
  width: 2.8rem;
  height: 2.8rem;
  font-size: 0;
  color: transparent;
  vertical-align: super;
  border: solid 1px #a4a4a4;
  border-radius: 50%;
  padding: 0;
}

.wrapper-sp .pagination .prev {
  background: url("../img/icon/icon_arrow_prev.png") no-repeat center center;
  background-size: 20%;
}

.wrapper-sp .pagination .next {
  background: url("../img/icon/icon_arrow_next.png") no-repeat center center;
  background-size: 25%;
}

.wrapper-sp .pagination .prev.disable,
.wrapper-sp .pagination .next.disable {
  pointer-events: none;
  cursor: default;
  border-color: #a4a4a4;
}

.wrapper-sp .pagination a {
  display: inline-block;
  position: relative;
  height: 2.8rem;
  line-height: 3rem;
  box-sizing: border-box;
  font-size: 2rem;
  color: #a4a4a4;
  text-align: center;
  padding: 0 14px;
  overflow: hidden;
  font-family: 'Volte';
  vertical-align: text-bottom;
}

.wrapper-sp .pagination a.now {
  pointer-events: none;
  cursor: default;
  font-weight: 600;
  color: #333;
  border-color: #333;
}

.wrapper-sp .pagination a+a {
  margin-left: 6px;
}

@media screen and (max-width:320px) {
  .wrapper-sp .pagination a+a {
    margin-left: 0;
  }
}

/* btn */
.wrapper-sp .btn {
  display: block;
  width: 100%;
  border-radius: 0.4rem;
  padding: 0 1rem;
  background-color: #97a2b2;
  height: 5.2rem;
  line-height: 5.2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'NotoSansCJKJP', sans-serif;
}

.wrapper-sp .btn:hover {
  background-color: #8b95a4;
}

.wrapper-sp .btn:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.wrapper-sp .btn.btn_green {
  background-color: #00d664;
}

.wrapper-sp .btn.btn_primary {
  border: solid 0.1rem #dddddd;
  background-color: #fff;
  color: #333;
}

.wrapper-sp .btn.btn_radius {
  line-height: 2.8rem;
  border: solid 0.1rem #dddddd;
  border-radius: 1.4rem;
  background-color: #fff;
  color: #666;
}

.wrapper-sp .btn.btn_radius.gray {
  border: solid 0.1rem #fafafa;
  background-color: #fafafa;
  color: #999;
}

.wrapper-sp .btn.btn_radius.checked {
  border: solid 0.1rem #00d664;
  background-color: #00d664;
  color: #fff;
}

.wrapper-sp .btn.btn_primary.checked {
  border: solid 0.1rem #00d664;
  background: #fff;
  color: #00d664;
  font-family: 'NotoSansCJKJP';
}

.wrapper-sp .btn.size_m {
  height: 4.0rem;
  line-height: 4.0rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.wrapper-sp .btn.btn_primary.size_m {
  line-height: 3.8rem;
}

.wrapper-sp .btn.size_xs {
  border: solid 0.1rem #dddddd;
  height: 3.2rem;
  line-height: 3.0rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.wrapper-sp .btn.size_s {
  height: 2.8rem;
  padding: 0 1.2rem;
  line-height: 2.8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.wrapper-sp .btn.btn_primary.size_s,
.wrapper-sp .btn.btn_radius.size_s {
  line-height: 2.6rem;
}

.wrapper-sp .btn_top a {
  width: 4rem;
  height: 4rem;
  font-size: 0;
  color: transparent;
  background: url('../img/icon/ico_common_top.png') center center no-repeat;
  background-size: cover;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1000;
}

.wrapper-sp .btn.ico_dow {
  background: url('../img/icon/btn_download.png') 8.8rem 0.9rem no-repeat;
  background-size: 1rem 1rem;
  text-indent: -16px;
}


/* table-grid */
.wrapper-sp .table-grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.wrapper-sp .table-grid__left,
.wrapper-sp .table-grid__right {
  display: table-cell;
  vertical-align: top;
}

.wrapper-sp .table-grid__left {
  text-align: left;
}

.wrapper-sp .table-grid__right {
  text-align: right;
}

/* category */
.wrapper-sp .wrap_category {
  position: relative;
  height: 5.6rem;
  background-color: #fff;
}

.wrapper-sp .wrap_category h2 {
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 0;
  text-align: center;
}

.wrapper-sp .wrap_category .category_left {
  position: absolute;
  left: 0.9rem;
  top: 1.2rem;
}

.wrapper-sp .wrap_category .category_left .btn_back {
  display: block;
  font-size: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: url('../img/icon/ico_back.png') center center no-repeat;
  background-size: 100% 100%;
}

.wrapper-sp .wrap_category .category_right {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}

.wrapper-sp .wrap_category .category_right .btn_wish {
  display: block;
  font-size: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: url('../img/icon/ico_wish.png') center center no-repeat;
  background-size: 100% 100%;
}

.wrapper-sp .wrap_category .category_right .btn_wish.checked {
  background: url('../img/icon/ico_wish_on.png') center center no-repeat;
  background-size: 100% 100%;
}

.wrapper-sp .wrap_category .category_right .btn_close {
  display: block;
  font-size: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: url('../img/icon/ico_close.png') center center no-repeat;
  background-size: 100% 100%;
}

.wrapper-sp .wrap_category .category_right .btn_close.search {
  display: block;
  font-size: 0;
  width: 2.4rem;
  height: 2.4rem;
  background: url('../img/icon/ico_close_search.png') center center no-repeat;
  background-size: 100% 100%;
  margin-top: 0.4rem;
  margin-right: 0.8rem;
}

.wrapper-sp .wrap_category .category_search {
  width: calc(100% - 10rem);
  margin: 0 auto;
}

.wrapper-sp .wrap_category .category_search input {
  border: none;
  padding: 0;
  height: 5.6rem;
  padding: 1.8rem 0;
  font-size: 1.6rem;
}


.wrapper-sp .wrap_category .category_search input::-webkit-input-placeholder {
  font-size: 1.6rem;
}

.wrapper-sp .wrap_category .category_search input::-moz-placeholder {
  font-size: 1.6rem;
}

.wrapper-sp .wrap_category .category_search input:-ms-input-placeholder {
  font-size: 1.6rem;
}

/* bx_price */
.wrapper-sp .bx_price {
  font-family: 'Volte', 'NotoSansCJKJP', sans-serif;
  position: relative;
  font-size: 0;
  line-height: 2.0rem;
}

.wrapper-sp .bx_price .sale {
  font-size: 2.0rem;
  margin-right: 0.6rem;
  font-weight: 600;
  color: #ff414e;
}

.wrapper-sp .bx_price .number {
  font-size: 2.0rem;
  font-weight: 600;
  margin-right: 0.2rem;
}

.wrapper-sp .bx_price .txt {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.2rem;
}

.wrapper-sp .bx_price .standard_price {
  opacity: 0.3;
  font-size: 1.4rem;
  text-decoration: line-through;
  margin-top: 0.2rem;
  line-height: 1.4rem;
}

/* bx_count */
.wrapper-sp .bx_count {
  display: block;
  width: 9.2rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  font-size: 0;
}

.wrapper-sp .bx_count .count_input {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 5.8rem);
  height: 3rem;
  font-weight: 600;
  border-radius: 0;
  text-align: center;
  vertical-align: -0.4rem;
  padding: 0;
  border: none;
  font-family: 'Volte';
}

.wrapper-sp .bx_count.big {
  width: 100%;
}

.wrapper-sp .bx_count button {
  position: relative;
  width: 2.9rem;
  height: 3rem;
  vertical-align: middle;
  font-size: 0;
}

.wrapper-sp .bx_count button.btn_minus {
  border-left: solid 0.1rem #dddddd;
  background: url('../img/icon/ico_minus.png') no-repeat center center;
  background-size: 1.2rem 1.2rem;
}

.wrapper-sp .bx_count button:disabled.btn_minus {
  background: url('../img/icon/ico_minus_off.png') no-repeat center center;
  background-size: 1.2rem 1.2rem;
  cursor: default;
}

.wrapper-sp .bx_count button.btn_plus {
  border-right: solid 0.1rem #dddddd;
  background: url('../img/icon/ico_plus.png') no-repeat center center;
  background-size: 1.2rem 1.2rem;
}

.wrapper-sp .bx_count button:disabled.btn_plus {
  background: url('../img/icon/ico_plus_off.png') no-repeat center center;
  background-size: 1.2rem 1.2rem;
  cursor: default;
}

/* bx_coupon_con */
.wrapper-sp .bx_coupon_con {
  width: 26.5rem;
  margin-bottom: 3.2rem;
}

.wrapper-sp .bx_coupon_con>a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 12.4rem;
  box-shadow: 0 1rem 1.4rem 0 rgba(0, 0, 0, 0.05);
  padding: 0 8.0rem 0 3.2rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-family: 'NotoSansCJKJP', sans-serif;
}

.wrapper-sp .bx_coupon_con .tit {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.wrapper-sp .bx_coupon_con .bx_price {
  margin-top: 0.6rem;
}

.wrapper-sp .bx_coupon_con .bx_price .number {
  font-size: 2.8rem;
}

.wrapper-sp .bx_coupon_con .bx_price .txt {
  font-size: 1.6rem;
}

.wrapper-sp .bx_coupon_con .ico_download {
  position: absolute;
  width: 5.6rem;
  background: #00d664 url('../img/icon/ico_download.png') no-repeat center center;
  background-size: 2rem 1.8rem;
  font-size: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.wrapper-sp .bx_coupon_con .dsc_info {
  text-align: center;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-family: 'NotoSansCJKJP', sans-serif;
}

.wrapper-sp .bx_coupon_con .dsc_info span.ticket {
  display: block;
  line-height: 2.0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.wrapper-sp .bx_coupon_con .dsc_info span.limit {
  display: block;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #999;
}

.wrapper-sp .bx_coupon_con .bx_price .percent {
  font-weight: 600;
}

.wrapper-sp .bx_coupon_con.size_m {
  width: 20.0rem;
}

.wrapper-sp .bx_coupon_con.size_m>a {
  height: 9.0rem;
  padding: 0 6.8rem 0 2.0rem;
}

.wrapper-sp .bx_coupon_con.size_m .tit {
  font-size: 1.4rem;
  line-height: 2.0rem;
}

.wrapper-sp .bx_coupon_con.size_m .bx_price {
  margin-top: 0.2rem;
}

.wrapper-sp .bx_coupon_con.size_m .bx_price .number {
  font-size: 2.8rem;
}

.wrapper-sp .bx_coupon_con.size_m .bx_price .txt_mark {
  font-size: 2.4rem;
  font-weight: bold;
}

.wrapper-sp .bx_coupon_con.size_m .bx_price .txt {
  font-size: 1.4rem;
}

.wrapper-sp .bx_coupon_con.size_m .ico_download {
  width: 4.8rem;
}

.wrapper-sp .bx_coupon_con.size_m .dsc_info span.ticket {
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 23.6rem;
  margin: 0 -1.8rem;
  font-weight: 500;
  letter-spacing: -0.01rem;
}

.wrapper-sp .bx_coupon_con.size_m .dsc_info span.limit {
  margin-top: 0.2rem;
  font-weight: normal;
}

/* cf */
.wrapper-sp .cf:after {
  display: block;
  clear: both;
  content: '';
}

/* badge */
.wrapper-sp .badge {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.0rem;
  font-weight: 500;
  border-radius: 0.9rem;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-right: 0.2rem;
  box-sizing: border-box;
  letter-spacing: -0.2px;
  vertical-align: top;
  color: transparent;
  background: transparent;
}

.wrapper-sp .badge.badge_purple {
  background: url('../img/icon/ico_bd_best.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_blue {
  background: url('../img/icon/ico_bd_coupon.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_blue_2 {
  background: url('../img/icon/ico_bd_new.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_red {
  background: url('../img/icon/ico_bd_hot.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_green {
  background: url('../img/icon/ico_bd_appointment_1.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_green2 {
  background: url('../img/icon/ico_answer.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_green3 {
  background: url('../img/icon/ico_insession.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_gray {
  background: url('../img/icon/ico_bd_over.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_gray2 {
  background: url('../img/icon/ico_unanswer.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_reserved {
  background: url('../img/icon/ico_bd_appointment_2.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_orange {
  background: url('../img/icon/ico_bd_not_much.png') no-repeat center;
  background-size: cover;
}

.wrapper-sp .badge.badge_out_stock {
  background: url('../img/icon/ico_bd_out_stock.png') no-repeat center;
  background-size: cover;
  width: 6rem;
}

/* login popup all */
.wrapper-sp .popup-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 9999;
}

.wrapper-sp .message-popup,
.wrapper-sp .member-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  background: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4rem;
  width: calc(100% - 8rem);
  padding-top: 3.2rem;
}

.wrapper-sp .message-popup::before {
  position: absolute;
  top: -9.0rem;
  left: 50%;
  width: 15.0rem;
  height: 10.0rem;
  background: url("../img/common/popup.png") no-repeat center top;
  background-size: cover;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  content: "";
}

.wrapper-sp .message-popup h1,
.wrapper-sp .member-popup h1 {
  font-size: 1.8rem;
  line-height: 1.36;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.wrapper-sp .popup-header {
  padding: 0 4.0rem;
}

.wrapper-sp .popup-text {
  padding: 0 4.0rem;
}

.wrapper-sp .popup-text .message {
  padding-bottom: 3.2rem;
}

.wrapper-sp .popup-footer {
  margin-top: 3.2rem;
  border-top: solid 0.1rem #eee;
  font-size: 0;
}

.wrapper-sp .popup-footer .btn-sure,
.wrapper-sp .popup-footer .btn-cancel {
  display: inline-block;
  width: 100%;
  line-height: 5.2rem;
  background-color: #fff;
  font-size: 1.6rem;
  color: #00d664;
  font-weight: 500;
  border-radius: 0 0 .8rem .8rem;
}

.wrapper-sp .popup-footer .btn-size {
  width: 50% !important;
}

.wrapper-sp .popup-footer .btn-cancel {
  color: #666;
  width: calc(50% - 0.1rem);
  border-right: solid 0.1rem #eee;
  border-bottom-right-radius: 0;
}

.wrapper-sp .member-popup {
  width: 68.0rem;
}

.wrapper-sp .member-popup h1 {
  margin-bottom: 1.6rem;
}

.wrapper-sp .member-popup .popup-text {
  margin: 0 4.0rem 2.5rem;
  height: 32.0rem;
  border-radius: .4rem;
  border: solid 0.1rem #dddddd;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 1.6rem 2.0rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666666;
}

.wrapper-sp .member-popup .popup-text strong {
  display: block;
  font-weight: 500;
}

.wrapper-sp .member-popup .popup-footer {
  width: 17.6rem;
  margin: 0 auto;
  padding-bottom: 3.2rem;
}

/* thumbnail */
.wrapper-sp .thumbnail_inner {
  position: relative;
}

.wrapper-sp .thumbnail_inner.size_xl {
  width: 16.2rem;
  height: 16.2rem;
}

.wrapper-sp .thumbnail_inner.size_l {
  width: 10.6rem;
  height: 10.6rem;
}

.wrapper-sp .thumbnail_inner.size_m {
  width: 9.6rem;
  height: 9.6rem;
}

.wrapper-sp .thumbnail_inner .thumbnail {
  padding-top: 0;
}

.wrapper-sp .thumbnail_inner.size_s {
  width: 6rem;
  height: 6rem;
}

.wrapper-sp .thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper-sp .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  position: absolute;
  top: 0;
  left: 0;
}

/* no_data */
.wrapper-sp .no_data {
  text-align: center;
  padding: 4rem 0;
}

.wrapper-sp .no_data .no_data_img img {
  width: 8rem;
}

.wrapper-sp .no_data .no_data_text {
  margin-top: 3rem;
  font-size: 1.6rem;
}


/* recommend */
.wrapper-sp .recommend {
  background: #f6f6f6;
  padding: 4.1rem 0 3.9rem;
}

.wrapper-sp .recommend h3.ttl_h3 {
  font-size: 2.2rem;
  color: #333;
  font-weight: bold;
  padding: 0 2rem 1.2rem;
}

.wrapper-sp .txt_font {
  font-family: NotoSansCJKjp !important;
}

.wrapper-sp .no_data .no_data_text.qa_1v1_none {
  color: #666;
}

.wrapper-sp .fixed_popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #fff;
  display: none;
}