.wrapper-sp .credit .credit-wrapper {
  padding: 4rem 2rem 2rem 2rem;
  font-family: 'NotoSansCJKjp';
  font-size: 1.4rem;
  color: #333333;
}

.wrapper-sp .credit .credit-wrapper.credit-wrapper1 {
  position: relative;
  height: calc(100vh - 22rem);
}

.wrapper-sp .credit .credit_payment {
  padding: 3rem 2rem;
  background-color: #fafafa;
}

.wrapper-sp .credit .credit_payment dl,
.wrapper-sp .credit .credit-wrapper dl {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.wrapper-sp .credit .credit_payment .credit_card {
  color: #ababab;
  font-size: 1.2rem;
  text-align: right;
}

.wrapper-sp .credit .credit_payment dl dt {
  line-height: 4rem;
}

.wrapper-sp .credit .credit_payment dl dd {
  text-align: right;
}

.wrapper-sp .credit .credit_payment .green_color {
  font-weight: bold;
  color: #00d664;
  font-size: 1.8rem;
}

.wrapper-sp .credit .credit_payment .font-block-num {
  font-size: 2.8rem;
  font-weight: 600;
  font-family: 'Volte';
}

.wrapper-sp .credit .credit-wrapper .credit_tip {
  font-size: 1.6rem;
  font-weight: 700;
}

.wrapper-sp .credit .credit-wrapper .credit_method {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 3rem;
}

.wrapper-sp .credit .credit-wrapper .credit_choose {
  margin-top: 1.6rem;
}

.wrapper-sp .credit .credit-wrapper .credit_choose li {
  margin-bottom: 3rem;
}

.wrapper-sp .credit .credit-wrapper .credit_choose li .txt {
  margin-left: 0.6rem;
}

.wrapper-sp .credit .credit-wrapper .credit_choose .credit_position_li {
  position: relative;
}

.wrapper-sp .credit .credit-wrapper .credit_choose .credit_position {
  position: absolute;
  top: -1rem;
  ;
  right: 5rem;
  width: 18rem;
  width: 55%;
}

.wrapper-sp .credit .credit-wrapper .credit_choose .return {
  position: absolute;
  top: 0.5rem;
  ;
  right: 2rem;
}

.wrapper-sp .credit .enter_contents {
  padding: 4rem 2rem;
  border-top: 0.1rem solid #ededed;
}

.wrapper-sp .credit .enter_contents .enter_introduce {
  font-size: 1.6rem;
  font-weight: 700;
}

.wrapper-sp .credit .enter_contents .credit_margin {
  margin-top: 3rem;
  font-size: 0rem;
}

.wrapper-sp .credit .enter_contents .credit_margin dt {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.wrapper-sp .credit .enter_contents .credit_margin dt .year_month,
.wrapper-sp .credit .credit-wrapper dt .year_month {
  color: #ababab;
}

.wrapper-sp .credit .credit_margin_btn1 {
  margin-top: 6rem;
}

.wrapper-sp .credit .credit_margin_btn {
  margin-top: 1rem;
}

.wrapper-sp .credit .credit_margin_btn2 {
  margin-top: 2rem;
  position: relative;
}

.wrapper-sp .credit .credit_margin_btn3 {
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 4rem);
}

.wrapper-sp .credit .credit_margin_btn2 img {
  vertical-align: -0.8rem;
  padding-right: 0.3rem;
}

.wrapper-sp .credit .credit-wrapper dl,
.wrapper-sp .credit .credit-wrapper .p_change_dl {
  margin-top: 3rem;
}

.wrapper-sp .credit .credit-wrapper dl.margin_top_36 {
  margin-top: 3.6rem;
}

.wrapper-sp .credit .four_btn_contents {
  padding: 4rem 2rem;
}

.wrapper-sp .credit .credit-wrapper .money_bold {
  font-size: 1.6rem;
  font-weight: 700;
}

.wrapper-sp .credit .credit-wrapper .money_bold .money_bold_big {
  font-family: 'Volte';
  font-size: 1.8rem;
  font-weight: 600;
}

.wrapper-sp .popup_area_content {
  text-align: center;
}

.wrapper-sp .popup_area_content img {
  height: 14rem;
  padding: 8rem 0 5rem 0;
}

.wrapper-sp .popup_area_content p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333333;
}

.wrapper-sp .popup_area_foot {
  margin-bottom: 10rem;
}

.wrapper-sp .popup_area_foot dl dt p {
  font-size: 1.2rem;
  text-align: center;
  color: #666666;
  margin-top: 3rem
}

.wrapper-sp .popup_area_foot dl dd {
  width: 14.3rem;
  margin: 0 auto;
  margin-top: 1.8rem;
}

.wrapper-sp .credit .credit-wrapper .credit_choose .new_more_txt{
  float: right;
  line-height: 3rem;
}

.wrapper-sp .credit input[type='radio']+label.radio {
  display: inline-block;
  border: solid 0.1rem #dcdcdc;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
  width: 2.4rem;
  height:2.4rem;
}

.wrapper-sp .credit input[type='radio']:checked+label.radio:before {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  z-index: 1;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #00d664;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
}

.wrapper-sp .credit .enter_contents .credit_margin dd .select_width{
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 3rem);
}

.wrapper-sp .credit .enter_contents .credit_margin dd .select_year-month{
  display: inline-block;
  vertical-align: top;
  width: 3rem;
  line-height: 5.2rem;
  font-size: 1.4rem;
  text-align: center;
}