@charset "utf-8";

.wrapper-sp #container.login {
  min-height: 100vh;
}

.wrapper-sp .login-wrapper {
  padding: 2rem 2rem 7.2rem 2rem;
}

.wrapper-sp .login-wrapper .input_list {
  margin-bottom: 6rem;
}

.wrapper-sp .login-wrapper .input_list li,
.wrapper-sp .email-wrapper .input_list li {
  margin-top: 1rem;
  text-align: left;
}

.wrapper-sp .login-wrapper .input_list li:first-child,
.wrapper-sp .email-wrapper .input_list li:first-child {
  margin-top: 0;
}

.wrapper-sp .login-wrapper .input_list .input_name,
.wrapper-sp .email-wrapper .input_list .input_name {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 2.2rem 0 0.6rem;
  font-family: 'NotoSansCJKJP', sans-serif;
}

.wrapper-sp .login-wrapper .input_list .input_text,
.wrapper-sp .email-wrapper .input_list .input_text {
  display: block;
  position: relative;
}

.wrapper-sp .email-wrapper .input_list .word_limit {
  color: #333;
  position: absolute;
  top: 1.5rem;
  right: 1.6rem;
  font-family: 'NotoSansCJKJP', sans-serif;
  font-size: 0;
}

.wrapper-sp .email-wrapper .input_list .word_limit span {
  display: inline-block;
  font-size: 1.4rem;
}

.wrapper-sp .login-wrapper .member-layout,
.wrapper-sp .sns-layout {
  border-radius: 0.4rem;
  background-color: #fafafa;
  padding: 2.6rem 2.8rem;
  margin: 3.2rem 0 0;
}

.wrapper-sp .login-wrapper .member-layout {
  margin: 0;
}

@media screen and (max-width: 340px) {
  .wrapper-sp .login-wrapper .member-layout {
    padding: 2.6rem 1rem;
  }

  .wrapper-sp .login-wrapper .member-layout .table-grid__left .bx_input label {
    font-size: 1.35rem;
  }
}

.wrapper-sp .login-wrapper .member-layout .table-grid:last-child {
  padding-top: 1.9rem;
  margin-bottom: 0;
  border-top: 0.1rem solid #ddd;
}

.wrapper-sp .login-wrapper .input_list li .telephone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-sp .login-wrapper .input_list li .telephone span {
  padding: 0 .5rem;
}

.wrapper-sp .login-wrapper .input_list li .telephone input {}

/* checkbox style */
.wrapper-sp .login-wrapper .table-grid__left .bx_input label {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding-left: 3.2rem;
}

.wrapper-sp .login-wrapper .member-layout .table-grid {
  margin-bottom: 1.3rem;
}

.wrapper-sp .login-wrapper .member-layout .table-grid:first-child {
  padding-bottom: 1.9rem;
  border-bottom: solid 0.1rem #ddd;
  margin-bottom: 1.8rem;
}

.wrapper-sp .login-wrapper .table-grid__right .txt_1 {
  font-weight: 500;
  font-size: 12px;
  color: #4ba4d9;
  text-decoration: underline;
}

.wrapper-sp .login-wrapper .checkbox-layout {
  margin: 1.2rem 0 3rem;
}

.wrapper-sp .login-wrapper .checkbox-layout .bx_input label {
  font-size: 1.2rem;
  font-weight: normal;
  color: #666666;
}

.wrapper-sp .login-wrapper .sns-layout {
  padding: 0.8rem 2.8rem;
  margin: 4rem 0 2rem;
}

.wrapper-sp .sns-login li {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 6rem;
  border-bottom: 0.1rem solid #eee;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'NotoSansCJKJP', sans-serif;
}

.wrapper-sp .sns-login li:last-child {
  border-bottom: none;
}

.wrapper-sp .sns-login li::after {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background: url('../img/icon/ico_back.png') center center no-repeat;
  background-size: cover;
  right: 0.4rem;
  top: 50%;
  margin-top: -0.9rem;
  transform: rotate(180deg);
  content: '';
}

.wrapper-sp .sns-login__action {
  font-weight: 500;
  display: block;
  padding-left: 3.4rem;
  height: 6rem;
  font-size: 1.4rem;
  line-height: 6rem;
  color: #666;
}

.wrapper-sp .sns-login__action::before {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
}

.wrapper-sp .sns-login__action.google::before {
  background-image: url('../img/icon/ico_google.png');
  background-size: cover;
}

.wrapper-sp .sns-login__action.line::before {
  background-image: url('../img/icon/ico_line.png');
  background-size: cover;
}

.wrapper-sp .sns-login__action.facebook::before {
  background-image: url('../img/icon/ico_facebook.png');
  background-size: cover;
}

.wrapper-sp .login-wrapper .member-join {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #999;
}

.wrapper-sp .table-grid__right {
  vertical-align: middle;
}

.wrapper-sp .checkbox-layout span {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.wrapper-sp .checkbox-layout span a,
.wrapper-sp .login-wrapper .member-join a {
  font-weight: 500;
  color: #4ba4d9;
}

.wrapper-sp .login-wrapper .error-info,
.wrapper-sp .email-wrapper .error-info {
  padding-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff5a5f;
  line-height: 1.5;
}

.wrapper-sp .login .mb-289 {
  margin-bottom: 28.9rem;
}

.wrapper-sp .login .mb-264 {
  margin-bottom: 26.4rem;
}

.wrapper-sp .login .mb-158 {
  margin-bottom: 15.8rem;
}

.wrapper-sp .login .mt-20 {
  margin-top: 20rem;
}

.wrapper-sp .login .mt-6 {
  margin-top: 0.6rem;
}

.wrapper-sp .checkbox-layout .forget {
  margin: 0.8rem 0 0 2.8rem;
}

/* register success */
.wrapper-sp .register-success,
.wrapper-sp .password-wrapper {
  text-align: center;
  padding: 4.4rem 0 0;
}

/* signin */
.wrapper-sp .success-mail {
  width: 48rem;
  height: 18rem;
  background: url('../img/login/img_register-success.png') no-repeat 0 0;
  margin: 2rem auto 0;
  padding-top: 18rem;
}

.wrapper-sp .success-mail dt {
  width: 24rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  color: #00d664;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 auto;
}

.wrapper-sp .success-mail dd {
  font-size: 1.6rem;
  padding-top: 0.3rem;
}

.wrapper-sp .register-success .btn_green {
  width: 36rem;
  margin: 1.2rem auto 0;
}

/* password */
.wrapper-sp .login .password-wrapper .password-wrapper.mt-0 {
  margin-top: 0;
}

.wrapper-sp .login .password-wrapper .password-success {
  margin-top: 3.6rem;
}

.wrapper-sp .login .password-wrapper .password-success.mt-60 {
  margin-top: 0rem;
}

.wrapper-sp .login .password-wrapper .password-success.mt-little {
  margin-top: 1rem;
}

.wrapper-sp .login .password-wrapper.pt-80 {
  padding-top: 8rem;
}

.wrapper-sp .login .login-wrapper.login-psw-wrapper {
  padding: 0 2rem 0 2rem;
  height: calc(100vh - 5.6rem);
}

.wrapper-sp .login .password-wrapper .login_over_img {
  width: 89.6%;
}

.wrapper-sp .login .login-wrapper.login-psw-wrapper .password-wrapper.pt-0 {
  padding: 0;
  min-height: calc(100% - 7.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-sp .login .login-wrapper.login-sign-wrapper {
  padding: 0 2rem 0 2rem;
  min-height: calc(100vh - 5.6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper-sp .login .login-wrapper.login-sign-wrapper .input_list {
  margin-bottom: 0;
}

.wrapper-sp .login .login-wrapper.login-sign-wrapper .btn.btn_green {
  position: relative;
  width: 100%;
  margin: 4rem auto;
  left: 0;
  bottom: 0;
}

.wrapper-sp .login .password-wrapper .password-success dt {
  font-size: 0;
}

.wrapper-sp .password-success dd {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.wrapper-sp .password-success dd strong {
  font-size: 2rem;
  color: #00d664;
  font-weight: 600;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.wrapper-sp .password-success dd strong.display_inline {
  display: inline-block;
  vertical-align: middle;
}

.wrapper-sp .password-success dd span.respectful {
  vertical-align: middle;
}

.wrapper-sp .password-time {
  line-height: 1.5;
  color: rgb(153, 153, 153);
  padding-top: 1.6rem;
  font-size: 1.2rem;
}

.wrapper-sp .password-btn {
  margin-top: 4rem;
  font-size: 0;
}

.wrapper-sp .password-btn li {
  display: inline-block;
  vertical-align: top;
  width: 17.6rem;
  margin: 0 0.4rem;
}

/* email */

.wrapper-sp .email-wrapper .email-password {
  margin: 0 auto;
  background: #fff;
}

.wrapper-sp .email-wrapper h1 {
  text-align: center;
  height: 3.9rem;
  padding-top: 2.1rem;
  border-bottom: solid 0.1rem #eee;
  margin: 0;
  font-weight: normal;
  line-height: 0;
}

.wrapper-sp .email-wrapper .email-content {
  text-align: center;
  padding: 2rem;
}

.wrapper-sp .email-wrapper .email-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.wrapper-sp .email-wrapper .email-content .btn_green {
  width: 28rem;
  margin: 4rem auto 0;
}

.wrapper-sp .email-wrapper .email-footer {
  background-color: rgb(246, 246, 246);
  padding: 2rem;
  font-size: 1.2rem;
  color: rgb(153, 153, 153);
  line-height: 1.8;
}

.wrapper-sp .email-wrapper .email-footer a {
  color: #4ba4d9;
  text-decoration: underline;
}

.wrapper-sp .email-wrapper.over .email-footer {
  width: 100%;
  text-align: center;
  height: 4.4rem;
  background-color: #f6f6f6;
  line-height: 4.4rem;
  padding: 0;
}

.wrapper-sp .login .login-wrapper .btn.btn_green,
.wrapper-sp .email-wrapper .email-password.password-set .btn.btn_green {
  position: absolute;
  width: calc(100% - 4rem);
  left: 2rem;
  bottom: 2rem;
}

.wrapper-sp .login .login-wrapper .btn.btn_green.password_btn,
.wrapper-sp .login .login-wrapper .btn.btn_green.fixed_btn {
  position: fixed;
}

.wrapper-sp .login .login-wrapper .btn.btn_login_normal {
  position: static;
  width: 100%;
}

.wrapper-sp .email .wrap_category h1 {
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-sp .email .wrap_category h1 img {
  width: 12.6rem;
  height: 1.7rem;
}

.wrapper-sp .email .address {
  margin: 0 0 2rem;
}

.wrapper-sp .email .address li {
  float: left;
  position: relative;
  margin: 0 5px;
}

.wrapper-sp .email .address li:first-child {
  margin: 0 5px 0 0;
}

.wrapper-sp .email .address li::before {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 1px;
  height: 10px;
  background-color: #dedede;
  content: '';
}

.wrapper-sp .email .address li:first-child::before {
  background-color: transparent;
}

.wrapper-sp .email-wrapper .input_list {
  margin-top: 2.4rem;
}

.wrapper-sp .email-wrapper .email-password.password-set {
  position: relative;
  min-height: calc(100vh - 11.7rem);
}

.wrapper-sp .popup-text {
  padding: 0 3rem;
  font-size: 1.4rem;
}

.wrapper-sp .login .login-wrapper .input_list li .input_name {
  position: relative;
}

.wrapper-sp .login .login-wrapper .input_list li .input_name.password_input_name {
  margin-top: 2rem;
}

.wrapper-sp .login .login-wrapper .input_name span.login-new-ico::after {
  content: '';
  display: inline-block;
  vertical-align: 0.6rem;
  margin-left: 0.4rem;
  font-size: 0;
  background-color: #00d664;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
}

.wrapper-sp .login .login-wrapper .signin_birthday_wrap option,
.wrapper-sp .login .login-wrapper .signin_birthday_wrap select {
  font-size: 1.4rem;
  color: #333;
  padding: 0 3.2rem 0 2rem;
  height: 5.2rem;
  white-space: nowrap;
  overflow: hidden;
}