swagger: '2.0'
info:
  description: NCP-Front Restful API Documentation
  version: '1.0'
  title: NHN Commerce Platform
  termsOfService: 'http://www.nhnent.com/ko/index.nhn'
  contact:
    name: NHN
    url: www.nhn.com
    email: dl_ncp_dev@nhn.com
  license:
    name: Copyright 2019 NHN Corp. All rights Reserved.
    url: 'http://www.nhn.com'
host: sandbox-api.e-ncp.com
basePath: /
tags:
  - name: '[A] > Sandbox Util'
    description: 샌드박스용 유틸 api
  - name: '[Common] > Addresses'
    description: 주소
  - name: '[Common] > Attachment'
    description: 첨부파일관리
  - name: '[Common] > Board'
    description: 게시판
  - name: '[Common] > Mall '
    description: 쇼핑몰 정보
  - name: '[Common] > Terms'
    description: Terms Api Controller
  - name: '[Company]'
    description: 법인
  - name: '[Coupon]'
    description: 쿠폰
  - name: '[Display]'
    description: 전시
  - name: '[Guest] > Order'
    description: 비회원 주문
  - name: '[Mobile App]'
    description: 모바일 앱
  - name: '[Order] > Cart'
    description: 장바구니
  - name: '[Order] > OrderSheet'
    description: 주문서
  - name: '[Order] > Wish'
    description: 위시리스트
  - name: '[Order] > payments'
    description: 결제
  - name: '[Product]'
    description: 상품
  - name: '[Product] > Inquiry'
    description: 상품 문의
  - name: '[Product] > Review'
    description: 상품평
  - name: '[Product] > recommended products'
    description: 추천 상품
  - name: '[Profile]'
    description: 회원
  - name: '[Profile] > Accumulation'
    description: 적립금
  - name: '[Profile] > Authentication'
    description: 인증
  - name: '[Profile] > InicisCertification'
    description: Inicis Certification Api Controller
  - name: '[Profile] > Inquiry'
    description: '1:1문의'
  - name: '[Profile] > KCPCertification'
    description: KCP 본인인증
  - name: '[Profile] > Like-products'
    description: 좋아요
  - name: '[Profile] > MyOrder'
    description: 마이페이지 - 주문
  - name: '[Profile] > Recent-products'
    description: 최근 상품
  - name: '[Profile] > Shipping Addresses'
    description: 회원 배송지
  - name: ncp-basic-error-controller
    description: Ncp Basic Error Controller
  - name: seo-controller
    description: SEO Controller
  - name: standing-point-contract-rest-controller
    description: Standing Point Contract Rest Controller
schemes:
  - http
  - https
paths:
  /addresses/search:
    get:
      tags:
        - '[Common] > Addresses'
      summary: 주소 검색
      description: 주소를 검색한다.
      operationId: getAddressesUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: keyword
          in: query
          description: keyword
          required: true
          type: string
          default: 삼평동
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AddressesResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /apps/pushes:
    post:
      tags:
        - '[Mobile App]'
      summary: 앱 푸시 수신여부 등록
      description: 앱 푸시 수신여부 등록
      operationId: addAppPushUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/AppPushRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - '[Mobile App]'
      summary: 앱 푸시 수신여부 수정
      description: 앱 푸시 수신여부 수정
      operationId: amendAppPushUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/AppPushRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /apps/users:
    post:
      tags:
        - '[Mobile App]'
      summary: 앱 설치 사용자 정보 등록
      description: 앱 설치 사용자 정보 등록
      operationId: addAppUserUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/AppUserRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - '[Mobile App]'
      summary: 앱 설치 사용자 정보 수정
      description: 앱 설치 사용자 정보 수정
      operationId: amendAppUserUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/AppUserRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /authentications:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: 인증번호 확인
      description: 'email, sms 인증번호 확인'
      operationId: isAuthenticationCodeTrustedUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: notiAccount
          in: query
          description: 이메일주소 | 휴대폰번호
          required: false
          type: string
        - name: memberNo
          in: query
          description: 멤버 넘버
          required: false
          type: integer
          format: int32
        - name: usage
          in: query
          description: usage
          required: true
          type: string
          enum:
            - FIND_ID
            - FIND_PASSWORD
            - RELEASE_DORMANT
            - ADMIN
            - JOIN
        - name: type
          in: query
          description: 인증 타입. (SMS|EMAIL)
          required: true
          type: string
          enum:
            - SMS
            - EMAIL
        - name: certificatedNumber
          in: query
          description: 인증번호
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Profile] > Authentication'
      summary: 인증번호 발송
      description: 'email, sms 인증번호 발송'
      operationId: sendAuthenticationCodeUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/AuthenticationApiRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RemainTimeResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /authentications/bizmall:
    post:
      tags:
        - '[Profile] > Authentication'
      summary: 비즈몰 사번 인증
      operationId: authCompanyMemberUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/CompanyMemberCheckRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /authentications/email:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: e메일로 전달받은 인증코드 확인
      description: e메일로 전달받은 인증코드 확인
      operationId: isEmailAuthenticationCodeTrustedUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: email
          in: query
          description: email
          required: false
          type: string
        - name: certificatedNumber
          in: query
          description: 인증번호
          required: false
          type: string
        - name: usage
          in: query
          description: usage
          required: true
          type: string
          enum:
            - FIND_ID
            - FIND_PASSWORD
            - RELEASE_DORMANT
            - ADMIN
            - JOIN
            - JOIN_URI
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResultResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Profile] > Authentication'
      summary: e메일로 인증번호 발송
      description: e메일로 인증번호 발송
      operationId: sendAuthenticationCodeToEmailUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/EmailCertificationPostRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RemainTimeResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /authentications/sms:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: SMS 인증번호 확인
      description: SMS 인증번호 확인
      operationId: checkSmsAuthAdminUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: mobileNo
          in: query
          description: mobileNo
          required: true
          type: string
        - name: key
          in: query
          description: key
          required: true
          type: string
        - name: usage
          in: query
          description: usage
          required: true
          type: string
          enum:
            - FIND_ID
            - FIND_PASSWORD
            - CHANGE_MOBILE_NO
            - RELEASE_DORMANT
            - ADMIN
            - JOIN
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResultResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Profile] > Authentication'
      summary: 점유인증 코드 SMS 발송
      description: 휴대폰 점유 인증을 위해 인증코드(6자리) SMS 발송
      operationId: sendSmsAuthUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/SmsCertificationPostRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RemainTimeResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - '[Profile] > Authentication'
      summary: SMS 인증 시간 재설정
      description: SMS 인증 시간 재설정 - 재 발송으로 가이드
      operationId: extendSmsAuthAdminUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/SmsCertificationExtendRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
      deprecated: true
  '/boards/{boardNo}/articles':
    get:
      tags:
        - '[Common] > Board'
      summary: 게시글 리스트 조회
      description: 게시글 리스트를 조회함
      operationId: getBoardsWithPagingUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: boardNo
          in: path
          description: 조회할 게시판 번호
          required: true
          type: integer
          default: 141
          format: int32
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: keyword
          in: query
          description: 검색어
          required: false
          type: string
        - name: searchType
          in: query
          description: '검색유형 (ALL: 전체(default), title: 제목, content: 내용, writer: 작성자)'
          required: false
          type: string
          enum:
            - ALL
            - TITLE
            - CONTENT
            - WRITER
        - name: categoryNo
          in: query
          description: 게시판 카테고리
          required: false
          type: integer
          format: int32
        - name: startYmd
          in: query
          description: '조회일 시작일(입력 안 할 경우 3개월, yyyy-MM-dd)'
          required: false
          type: string
        - name: endYmd
          in: query
          description: '조회일 종료일(입력 안 할 경우 오늘, yyyy-MM-dd)'
          required: false
          type: string
        - name: withReplied
          in: query
          description: 답글도 리스트에 같이 조회할지 여부
          required: false
          type: boolean
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BoardsResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Common] > Board'
      summary: 게시글 작성
      description: 게시글 작성
      operationId: addBoardUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
          default: accessToken
        - name: boardNo
          in: path
          description: 게시판 번호
          required: true
          type: integer
          default: 141
          format: int32
        - in: body
          name: articleAddRequest
          description: articleAddRequest
          required: true
          schema:
            $ref: '#/definitions/ArticleAddRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/boards/{boardNo}/articles/{articleNo}':
    get:
      tags:
        - '[Common] > Board'
      summary: 게시글 상세 조회
      description: 게시글 상세 조회
      operationId: getBoardUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
          default: accessToken
        - name: boardNo
          in: path
          description: 조회할 게시판 번호
          required: true
          type: integer
          default: 141
          format: int32
        - name: articleNo
          in: path
          description: 조회할 게시글 번호
          required: true
          type: integer
          default: 124
          format: int32
        - name: password
          in: query
          description: 비회원 글 확인용 비밀번호
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BoardDetailResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - '[Common] > Board'
      summary: 게시글 수정
      description: 게시글 수정
      operationId: updateBoardUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
          default: accessToken
        - name: boardNo
          in: path
          description: 게시판 번호
          required: true
          type: integer
          default: 141
          format: int32
        - name: articleNo
          in: path
          description: 조회할 게시글 번호
          required: true
          type: integer
          default: 124
          format: int32
        - in: body
          name: articleUpdateRequest
          description: articleUpdateRequest
          required: true
          schema:
            $ref: '#/definitions/ArticleUpdateRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    delete:
      tags:
        - '[Common] > Board'
      summary: 게시글 삭제
      description: 게시글 삭제
      operationId: deleteBoardUsingDELETE
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
          default: accessToken
        - name: boardNo
          in: path
          description: 게시판 번호
          required: true
          type: integer
          default: 141
          format: int32
        - name: articleNo
          in: path
          description: 조회할 게시글 번호
          required: true
          type: integer
          default: 124
          format: int32
        - in: body
          name: articleDeleteRequest
          description: articleDeleteRequest
          required: true
          schema:
            $ref: '#/definitions/ArticleDeleteRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/boards/{boardNo}/articles/{articleNo}/editable':
    put:
      tags:
        - '[Common] > Board'
      summary: 게시글 수정가능 여부 확인
      description: 게시글 수정가능 여부 확인
      operationId: checkBoardUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
          default: accessToken
        - name: boardNo
          in: path
          description: 게시판 번호
          required: true
          type: integer
          default: 141
          format: int32
        - name: articleNo
          in: path
          description: 조회할 게시글 번호
          required: true
          type: integer
          default: 124
          format: int32
        - in: body
          name: articleEditableCheckRequest
          description: articleEditableCheckRequest
          required: true
          schema:
            $ref: '#/definitions/ArticleEditableCheckRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/boards/{boardNo}/categories':
    get:
      tags:
        - '[Common] > Board'
      summary: 게시판 카테고리 목록 조회
      operationId: getBoardCategoryUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: boardNo
          in: path
          description: 조회할 게시판 번호
          required: true
          type: integer
          default: 141
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BoardCategoryResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /captcha:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: 자동입력 방지 문자 조회
      description: 자동입력 방지 문자 를 조회합니다 조회시마다 리셋됩니다.
      operationId: getCaptchaUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: captchaType
          in: query
          description: captchaType
          required: true
          type: string
          enum:
            - IMAGE
            - SOUND
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CaptchaResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart:
    get:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 목록 가져오기
      description: 로그인된 유저의 장바구니 목록을목록을 가져옵니다.
      operationId: getCartsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: divideInvalidProducts
          in: query
          description: 구매하지 못하는 상품 포함여부
          required: false
          type: boolean
          default: true
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CartResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 등록
      description: 장바구니에 새로운 상품을 등록합니다.
      operationId: addCartUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - in: body
          name: carts
          description: carts
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/CartItemRequest'
        - name: integrated
          in: query
          description: 비회원 장바구니 병합 여부
          required: true
          type: boolean
          default: false
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CountResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - '[Order] > Cart'
      summary: '장바구니 수량, 사용자입력형 옵션 수정'
      description: |-
        로그인된 유저의 장바구니의 상품 중 상품 구매 수량과 사용자 입력형 옵션을 수정합니다. 
        옵션 종류는 변경할 수 없습니다.
        옵션변경은 변경할 옵션을 삭제한 후 신규등록하는 방법으로 수정합니다
      operationId: modifyCartUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - in: body
          name: carts
          description: carts
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/CartItemChangeRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    delete:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 삭제
      description: 장바구니 목록으로 확인할 수 있는 장바구니에서 삭제할 장바구니의 cartNo를 List형으로 전달해 주세요.
      operationId: deleteCartUsingDELETE
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: cartNo
          in: query
          description: 삭제할 장바구니 번호
          required: true
          type: array
          items:
            type: integer
            format: int32
          collectionFormat: multi
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CountResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart/calculate:
    get:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 선택 계산
      description: 장바구니에서 선택된 상품만 계산합니다
      operationId: calculateCartUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: cartNo
          in: query
          description: 선택된 장바구니 번호
          required: true
          type: array
          items:
            type: integer
            format: int32
          collectionFormat: multi
        - name: divideInvalidProducts
          in: query
          description: 구매하지 못하는 상품 포함여부
          required: false
          type: boolean
          default: true
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Price'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart/count:
    get:
      tags:
        - '[Order] > Cart'
      summary: 등록된 장바구니 갯수 가져오기
      description: 로그인된 유저의 장바구니 갯수를 가져옵니다.
      operationId: getCartCountUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CountResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart/subset:
    get:
      tags:
        - '[Order] > Cart'
      summary: 장바구니에서 선택된 항목만 장바구니 그룹별로 재계산
      description: 장바구니에서 선택된 상품만 계산합니다
      operationId: subsetCartUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: cartNo
          in: query
          description: 선택된 장바구니 번호
          required: true
          type: array
          items:
            type: integer
            format: int32
          collectionFormat: multi
        - name: divideInvalidProducts
          in: query
          description: 구매하지 못하는 상품 포함여부
          required: false
          type: boolean
          default: true
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CartResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart/validate:
    get:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 저장 상품 유효성 체크
      description: 장바구니에 저장된 상품이 모두 유효한지 확인합니다.
      operationId: validateUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BooleanResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /categories:
    get:
      tags:
        - '[Product]'
      summary: 전체 카테고리 조회(cached)
      description: '2가지 카테고리를 제공(계층, 원본) 합니다.<br/>'
      operationId: getProductUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CategoryResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/categories/{categoryNo}':
    get:
      tags:
        - '[Product]'
      summary: 카테고리 조회(cached)
      description: '카테고리 번호로 카테고리를 조회<br/> 2가지형태의 카테고리를 제공(계층, 원본) 합니다.'
      operationId: getCategoriesByCategoryNoUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: categoryNo
          in: path
          description: 카테고리 번호
          required: false
          type: integer
          default: 14414
          format: int32
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CategoryWithBrands'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /category/product-reviews:
    get:
      tags:
        - '[Product] > Review'
      summary: 카테고리 상품평 목록
      description: |-
        카테고리 별 상품평 목록 가져오기 (페이징)
         * 파일 첨부 유무
        (Y = 파일 첨부 / N = 파일 미첨부 / 빈값 = ALL)
      operationId: 카테고리 상품평 목록
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
          default: accessToken
        - name: order.by
          in: query
          description: 'RECOMMEND:추천순, REGISTER_YMDT:등록일, RATING:평점순'
          required: false
          type: string
          enum:
            - RECOMMEND
            - REGISTER_YMDT
            - RATING
        - name: order.direction
          in: query
          description: '정렬기준(default : DESC)'
          required: false
          type: string
          enum:
            - ASC
            - DESC
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: hasAttachmentFile
          in: query
          description: 파일 첨부 유무
          required: false
          type: boolean
        - name: categoryDepth
          in: query
          description: 카테고리 뎁스
          required: false
          type: integer
          format: int32
        - name: categoryNo
          in: query
          description: 카테고리 번호
          required: false
          type: integer
          format: int32
        - name: productName
          in: query
          description: 상품명
          required: false
          type: string
        - name: brandName
          in: query
          description: 브랜드명
          required: false
          type: string
        - name: bestReviewYn
          in: query
          description: '베스트 상품평 여부 ( Y:우수상품평 , N:일반상품평 )'
          required: false
          type: string
        - name: myReviewYn
          in: query
          description: '내 상품평 보기 ( Y:내상품평 , 나머지:전체상품평 )'
          required: false
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ReviewsResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /companies:
    get:
      tags:
        - '[Company]'
      summary: 법인 목록 조회
      description: 쇼핑몰에서 가입 가능한 법인 목록 조회
      operationId: getCompaniesUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CompanyApiResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /coupons:
    get:
      tags:
        - '[Coupon]'
      summary: 내 쿠폰 가져오기(마이페이지)
      operationId: getMyCouponsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: usable
          in: query
          description: 사용가능여부
          required: true
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MyCouponsApiResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/events/{eventNo}/download':
    post:
      tags:
        - '[Coupon]'
      summary: 모든 쿠폰 다운로드 (이벤트페이지)
      operationId: downloadCouponByEventUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: eventNo
          in: path
          description: 이벤트 번호
          required: true
          type: integer
          format: int32
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MultiCouponIssueResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /coupons/issuable:
    get:
      tags:
        - '[Coupon]'
      summary: 오늘 다운로드 가능한 쿠폰 조회
      operationId: getIssuableCouponsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/IssuableCouponResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/products/{productNo}/download':
    post:
      tags:
        - '[Coupon]'
      summary: 모든 쿠폰 다운로드 (상품페이지)
      operationId: downloadCouponByProductUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: productNo
          in: path
          description: 몰 상품 번호
          required: true
          type: integer
          format: int32
        - name: couponTargetTypes
          in: query
          description: 상품쿠폰의 쿠폰대상 타입(특정상품 - PRODUCT/브랜드 - BRAND/카테고리-CATEGORY/파트너사-PARTNER
          required: false
          type: array
          items:
            type: string
            enum:
              - ALL_PRODUCT
              - PRODUCT
              - BRAND
              - CATEGORY
              - PARTNER
              - EVENT
          collectionFormat: multi
          enum:
            - ALL_PRODUCT
            - PRODUCT
            - BRAND
            - CATEGORY
            - PARTNER
            - EVENT
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MultiCouponIssueResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/products/{productNo}/issuable/coupons':
    get:
      tags:
        - '[Coupon]'
      summary: 다운로드 가능한 쿠폰 가져오기(상품페이지)
      operationId: getIssuableCouponsUsingGET_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: productNo
          in: path
          description: 몰 상품 번호
          required: true
          type: integer
          default: 100398947
          format: int32
        - name: couponTargetTypes
          in: query
          description: 상품쿠폰의 쿠폰대상 타입(특정상품 - PRODUCT/브랜드 - BRAND/카테고리-CATEGORY/파트너사-PARTNER
          required: false
          type: array
          items:
            type: string
            enum:
              - ALL_PRODUCT
              - PRODUCT
              - BRAND
              - CATEGORY
              - PARTNER
              - EVENT
          collectionFormat: multi
          enum:
            - ALL_PRODUCT
            - PRODUCT
            - BRAND
            - CATEGORY
            - PARTNER
            - EVENT
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/IssuableCouponResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/register-code/{promotionCode}':
    post:
      tags:
        - '[Coupon]'
      summary: 쿠폰코드로 쿠폰 발급
      operationId: registerCouponCodeUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: promotionCode
          in: path
          description: promotionCode
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 실패
          schema:
            type: string
            enum:
              - MEMBER_DUPLICATED
              - MEMBER_ID_DUPLICATED
              - MEMBER_MOBILE_DUPLICATED
              - MEMBER_EMAIL_DUPLICATED
              - NEED_CERT_BEFORE_JOIN
              - ALREADY_CERTIFIED_MEMBER
              - CI_IS_NOT_VALUED
              - THE_MEMBER_IS_NOT_UNIQUE
              - MEMBER_NOT_FOUND
              - CLIENT_ID_IS_EMPTY
              - ACCESS_TOKEN_IS_EMPTY
              - REQUEST_NEED_AUTHENTICATED
              - ACCESS_TOKEN_AUTHENTICATED_FAIL
              - MEMBER_AUTHENTICATED_FAIL
              - CLIENT_ID_IS_NOT_VALUED
              - MEMBER_IS_EMPTY
              - USERNAME_PASSWORD_IS_REQUIRED
              - PASSWORD_IS_NOT_VALID
              - DORMANT_MEMBER
              - ISSUE_ACCESS_TOKEN_FAIL
              - MEMBER_STATUS_IS_WAITING
              - MEMBER_STATUS_IS_LOCKED
              - MEMBER_STATUS_IS_PAUSED
              - MEMBER_STATUS_IS_BLOCKED
              - MEMBER_IS_NOT_MALL_MEMBER
              - MEMBER_HAS_NOT_MOBILE_NO
              - MEMBER_HAS_NOT_EMAIL
              - PROVIDER_IS_NOT_VALUED
              - MEMBER_STATUS_IS_NOT_VALUED
              - CODE_OR_ACCESS_TOKEN_REQUIRED
              - TOAST_CAPTCHA_APPKEY_IS_NOT_VALID
              - CANNOT_CHANGE_SAME_PASSWORD
              - CERTIFICATION_FAIL
              - TOAST_CAPTCHA_EXPIRED
              - MEMBER_NICKNAME_DUPLICATED
              - PASSWORD_CHANGE_REQUIRED
              - PASSWORD_CHANGE_REQUIRED_AFTER_MIG
              - NOT_FOUND_PERSONAL_INFORMATION_TYPE
              - MEMBERNAME_IS_EMPTY
              - NICKNAME_IS_EMPTY
              - EMAIL_IS_EMPTY
              - BIRTHDAY_IS_EMPTY
              - SEX_IS_EMPTY
              - ADDRESS_IS_EMPTY
              - CI_IS_EMPTY
              - CERTIFICATED_NUMBER_IS_EMPTY
              - MOBILE_NO_IS_EMPTY
              - CAPTCHA_IS_EMPTY
              - MAPPINGKEY_IS_EMPTY
              - MAPPINGKEY_IS_NOT_MATCHED
              - MEMBER_STATUS_NOT_EXPELLED
              - MEMBER_STATUS_NOT_FREEZE
              - MEMBER_STATUS_ALREADY_EXPELLED
              - MEMBER_IS_EXPELLED
              - PAYCO_MEMBER_REMOVE_PROVISION_FAIL
              - PAYCO_MEMBER_SET_PROVISION_FAIL
              - PAYCO_MEMBER_REMOVE_SERVICE_OFFER_FAIL
              - PAYCO_MEMBER_SET_SERVICE_OFFER_FAIL
              - CERTIFICATED_ALREADY_USED_OR_NOT_EXIST
              - LOGIN_ATTEMPTS_IS_OVER
              - REQUEST_ERROR
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /coupons/summary:
    get:
      tags:
        - '[Coupon]'
      summary: 내쿠폰 요약정보
      operationId: getMyUsableCouponCntUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: expireDay
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MyCouponSummary'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/{couponNo}/download':
    post:
      tags:
        - '[Coupon]'
      summary: 쿠폰 다운로드
      operationId: downloadCouponUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: couponNo
          in: path
          description: 쿠폰 번호
          required: true
          type: integer
          format: int32
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CouponIssueResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/banners/{bannerSectionCodes}':
    get:
      tags:
        - '[Display]'
      summary: 배너목록 조회(cached)
      description: '{bannerSectionCodes}는 NCP 어드민에서 입력한 섹션 코드 번호'
      operationId: getBannerSectionsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: bannerSectionCodes
          in: path
          description: '조회할 배너 섹션 번호(,로 구분한 배열)'
          required: false
          type: string
          default: '000,001'
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BannerSectionResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /display/brands:
    get:
      tags:
        - '[Display]'
      summary: 브랜드 목록 조회
      description: 브랜드 목록 조회 with paging
      operationId: getBrandsUsingGET_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: filter.name
          in: query
          description: 검색할 브랜드명
          required: false
          type: string
        - name: filter.categoryNo
          in: query
          description: 검색할 카테고리 번호
          required: false
          type: integer
          format: int32
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: fromDB
          in: query
          description: 'DB검색 사용 (default: false , 검색엔진 사용 )'
          required: false
          type: boolean
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BrandsResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/brands/{brandNo}':
    get:
      tags:
        - '[Display]'
      summary: 브랜드 상세
      description: 브랜드 상세 조회<br/>브랜드에 속한 카테고리 번호 포함
      operationId: getBrandsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: brandNo
          in: path
          description: 브랜드 번호
          required: false
          type: integer
          default: 12155
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BrandDetailResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /display/events:
    get:
      tags:
        - '[Display]'
      summary: 이벤트 기간안에 포함된 모든 이벤트 목록 조회
      operationId: getEventsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Events'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/events/categories/{categoryNo}':
    get:
      tags:
        - '[Display]'
      summary: 카테고리에 해당하는 기획전 목록 조회
      description: 이벤트에 등록된 카테고리 번호를 사용
      operationId: getEventByCategoryNoUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: categoryNo
          in: path
          description: 카테고리 번호
          required: true
          type: integer
          format: int32
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: soldout
          in: query
          description: '품절 상품 포함 여부(default: false)'
          required: false
          type: boolean
        - name: order
          in: query
          description: '정렬조건(default : 등록 순서, SALE : 판매시작일 오름차순)'
          required: false
          type: string
          default: '1,2'
          enum:
            - SALE
            - ADMIN_SETTING
            - BEST_SELLER
            - BEST_REVIEW
        - name: saleStatus
          in: query
          description: >-
            판매대기와 판매중 상품 조회, 판매중 상품만 조회(DEFAULT), 보내지 않으면 판매금지를 제외한 모든 상품이
            전송됩니다.
          required: false
          type: string
          default: ONSALE
          enum:
            - READY_ONSALE
            - ONSALE
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/EventResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/events/{eventNo}':
    get:
      tags:
        - '[Display]'
      summary: 기획전 조회(cached)
      description: '{eventNo}는 NCP 어드민에서 등록된 x 사용'
      operationId: getEventUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: eventNo
          in: path
          description: 이벤트 번호
          required: false
          type: integer
          default: 73
          format: int32
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: soldout
          in: query
          description: '품절 상품 포함 여부(default: false)'
          required: false
          type: boolean
        - name: order
          in: query
          description: '정렬조건(default : 등록 순서, SALE : 판매시작일 오름차순)'
          required: false
          type: string
          default: '1,2'
          enum:
            - SALE
            - ADMIN_SETTING
            - BEST_SELLER
            - BEST_REVIEW
        - name: saleStatus
          in: query
          description: >-
            판매대기와 판매중 상품 조회, 판매중 상품만 조회(DEFAULT), 보내지 않으면 판매금지를 제외한 모든 상품이
            전송됩니다.
          required: false
          type: string
          default: ONSALE
          enum:
            - READY_ONSALE
            - ONSALE
        - name: hasOptionValues
          in: query
          description: '옵션리스트 포함여부(default: false)'
          required: false
          type: boolean
        - name: hasMaxCouponAmt
          in: query
          description: '최대쿠폰 할인가격 포함여부(default: false)'
          required: false
          type: boolean
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EventResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /display/popups:
    get:
      tags:
        - '[Display]'
      summary: 전체 팝업 목록 조회(cached)
      operationId: getPopupsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: pageType
          in: query
          description: '페이지 타입 (메인, 전시카테고리, 기획전, 상품)'
          required: false
          type: string
          default: 'false'
          enum:
            - MAIN
            - CATEGORY
            - EVENT
            - PRODUCT
        - name: targetNo
          in: query
          description: '타입 번호 (displayCategoryNo, eventNo, mallProductNo)'
          required: false
          type: integer
          default: 0
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/PopupResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/popups/{popupNos}':
    get:
      tags:
        - '[Display]'
      summary: 팝업 목록 조회(cached)
      description: '{popupNos}는 NCP 어드민에서 등록된 팝업 번호입니다.'
      operationId: getPopupsByPopupNosUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: popupNos
          in: path
          description: '조회할 팝업 번호(,로 구분한 배열)'
          required: false
          type: string
          default: '23'
        - name: pageType
          in: query
          description: '페이지 타입 (메인, 전시카테고리, 기획전, 상품)'
          required: false
          type: string
          default: 'false'
          enum:
            - MAIN
            - CATEGORY
            - EVENT
            - PRODUCT
        - name: targetNo
          in: query
          description: '타입 번호 (displayCategoryNo, eventNo, mallProductNo)'
          required: false
          type: integer
          default: 0
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/PopupResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/sections/{sectionNos}':
    get:
      tags:
        - '[Display]'
      summary: 상품 섹션 조회(멀티섹션) v1.0
      description: '{sectionNos}는 NCP 어드민에서 입력한 상품 섹션 번호'
      operationId: getBannerSectionsUsingGET_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: sectionNos
          in: path
          description: '조회할 상품 섹션 번호(,로 구분한 배열)'
          required: false
          type: string
          default: '1,2'
        - name: by
          in: query
          description: >-
            SALE_YMD:판매일자, ADMIN_SETTING (관리자화면 기준) , POPULAR:판매 인기순 ,
            RECOMMENDATION:추천순(좋아요), DISCOUNTED_PRICE:가격순, REVIEW:상품평
          required: false
          type: string
          enum:
            - SALE_YMD
            - ADMIN_SETTING
            - POPULAR
            - RECOMMENDATION
            - DISCOUNTED_PRICE
            - REVIEW
        - name: direction
          in: query
          description: 'DEFAULT:DESC(내림차순) , ASC(오름차순) '
          required: false
          type: string
          enum:
            - ASC
            - DESC
        - name: soldout
          in: query
          description: '품절 상품 포함 여부(default: false)'
          required: false
          type: boolean
        - name: maxProductCnt
          in: query
          description: 섹션별 최대상품 갯수
          required: false
          type: integer
          default: 100
          format: int32
        - name: saleStatus
          in: query
          description: >-
            판매대기와 판매중 상품 조회, 판매중 상품만 조회(DEFAULT), 보내지 않으면 판매금지를 제외한 모든 상품이
            전송됩니다.
          required: false
          type: string
          default: ONSALE
          enum:
            - READY_ONSALE
            - ONSALE
        - name: hasOptionValues
          in: query
          description: '옵션리스트 포함여부(default: false)'
          required: false
          type: boolean
        - name: hasMaxCouponAmt
          in: query
          description: '최대할인쿠폰가격 노출여부(default: false)'
          required: false
          type: boolean
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SectionResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/sections/{sectionNo}':
    get:
      tags:
        - '[Display]'
      summary: 상품 섹션 조회(단일섹션-페이징) v1.1
      description: '{sectionNo}는 NCP 어드민에서 입력한 상품 섹션 번호'
      operationId: getBannerSectionUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: sectionNo
          in: path
          description: 조회할 상품 섹션 번호
          required: false
          type: integer
          default: 1
          format: int32
        - name: by
          in: query
          description: >-
            SALE_YMD:판매일자, ADMIN_SETTING (관리자화면 기준) , POPULAR:판매 인기순 ,
            RECOMMENDATION:추천순(좋아요), DISCOUNTED_PRICE:가격순, REVIEW:상품평
          required: false
          type: string
          enum:
            - SALE_YMD
            - ADMIN_SETTING
            - POPULAR
            - RECOMMENDATION
            - DISCOUNTED_PRICE
            - REVIEW
        - name: direction
          in: query
          description: 'DEFAULT:DESC(내림차순) , ASC(오름차순) '
          required: false
          type: string
          enum:
            - ASC
            - DESC
        - name: soldout
          in: query
          description: '품절 상품 포함 여부(default: false)'
          required: false
          type: boolean
        - name: saleStatus
          in: query
          description: >-
            판매대기와 판매중 상품 조회, 판매중 상품만 조회(DEFAULT), 보내지 않으면 판매금지를 제외한 모든 상품이
            전송됩니다.
          required: false
          type: string
          default: ONSALE
          enum:
            - READY_ONSALE
            - ONSALE
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: hasOptionValues
          in: query
          description: '옵션리스트 포함여부(default: false)'
          required: false
          type: boolean
        - name: hasMaxCouponAmt
          in: query
          description: '최대할인쿠폰가격 노출여부(default: false)'
          required: false
          type: boolean
        - name: Version
          in: header
          required: true
          type: string
          default: '1.1'
          enum:
            - '1.1'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SectionResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /error:
    get:
      tags:
        - ncp-basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingGET
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    head:
      tags:
        - ncp-basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingHEAD
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
    post:
      tags:
        - ncp-basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPOST
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - ncp-basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPUT
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    delete:
      tags:
        - ncp-basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingDELETE
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    options:
      tags:
        - ncp-basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingOPTIONS
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
    patch:
      tags:
        - ncp-basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPATCH
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
  /files:
    get:
      tags:
        - '[Common] > Attachment'
      summary: 첨부파일 다운로드
      description: 첨부파일 다운로드
      operationId: downloadUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: fileName
          in: query
          description: fileName
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
      deprecated: true
    post:
      tags:
        - '[Common] > Attachment'
      summary: 파일 업로드
      description: ObjectStorage에 파일을 업로드함
      operationId: uploadUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: platform
          in: header
          description: 'PC, MOBILE_WEB, IOS, AOS'
          required: true
          type: string
          default: PC
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
        - name: file
          in: formData
          required: true
          type: ref
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FileUploadResult'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
[...]
