.default-button {
  @include notoB;
  display: inline-block;
  width: 100%;
  height: 52px;
  vertical-align: top;
  font-size: 16px;
  text-align: center;
  background-color: #00d664;
  line-height: 52px;
  letter-spacing: -0.1px;
  border-radius:3px;
  color: #ffffff;
  &.long {
    width: 100%;
  }
  &.link {
    line-height: 3;
  }
  &._half {
    width: 176px;
    margin-right: 8px;
    background-color: #97a2b2;
  }
  &.active {
    margin-right: 0;
    background-color: #00d664;
  }
  &.gray {
    background-color: #97a2b2;
  }
}
.default-center {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
}