.detail-recommand {
  width: 100%;
  height: auto;
  margin: 140px 0 -120px;
  padding: 60px 0;
  background-color: #f6f6f6;
  &__title {
    @include notoB;
    padding-bottom: 20px;
    font-size: 26px;
    text-align: center;
    line-height: 1.31;
    letter-spacing: -0.2px;
    color: #2c2d2e;
  }
  &__order {
    padding-bottom: 20px;
    font-size: 22px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    text-align: center;
    line-height: 1.36;
    letter-spacing: -0.1px;
    color: #2c2d2e;
  }
  &__content {
    padding-top: 20px;
  }
}