.wrapper-pc .information .service-content {
    padding: 56px 0 120px;
}

.wrapper-pc .information h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.09px;
}

.wrapper-pc .information .service_info {
    margin-top: 64px;
    color: #666666;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 21px;
}

.wrapper-pc .information .service_info .service_title {
    font-weight: bold;
}

.wrapper-pc .information .green {
    color: #00d664;
}

.wrapper-pc .information .blue {
    color: #4ba4d9;
}

.wrapper-pc .information .service_info .service_detail {
    margin-top: 24px;
}

.wrapper-pc .information .service_info .service_detail .detail_info a {
    text-decoration: underline;
}

.wrapper-pc .information .service_info .service_detail .service_min_title {
    color: #333333;
    font-weight: 500;
}