@charset "utf-8";

.wrapper-pc #container.login {
  min-height: calc(100vh - 312px);
}

.wrapper-pc .login-wrapper {
  width: 360px;
  margin: 0 auto;
  padding: 26px 0 80px;
}

.wrapper-pc .login-wrapper h2,
.wrapper-pc .register-success h2,
.password-wrapper h2 {
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  font-weight: bold;
}

.wrapper-pc .login-wrapper h2:first-child {
  margin-bottom: 22px;
}

.wrapper-pc .login-wrapper .input_list li {
  margin-top: 10px;
}

.wrapper-pc .login-wrapper .input_list li .telephone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-pc .login-wrapper .input_list li .telephone input {
  width: calc((100% / 3) - 10px);
}

.wrapper-pc .login-wrapper .input_list li .telephone span {
  width: 15px;
  text-align: center;
}

.wrapper-pc .login-wrapper .input_list .input_name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin: 32px 0 6px;
  position: relative;
}

.wrapper-pc .login-wrapper .input_list .input_name .must {
  display: inline-block;
  position: relative;
}

.wrapper-pc .login-wrapper .input_list .input_name .must::after {
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #00d664;
  position: absolute;
  top: 0;
  right: -8px;
}

.wrapper-pc .login-wrapper .input_list .input_text {
  display: block;
  overflow: hidden;
}

.wrapper-pc .login-wrapper .member-layout {
  border-radius: 4px;
  background-color: #fafafa;
  padding: 25px 28px;
  margin: 32px 0 0;
}

/* checkbox style */
.wrapper-pc .login-wrapper .table-grid__left .bx_input label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.wrapper-pc .login-wrapper .member-layout .table-grid {
  margin-bottom: 13px;
}

.wrapper-pc .login-wrapper .member-layout .table-grid:first-child {
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
}

.wrapper-pc .login-wrapper .member-layout .table-grid:nth-child(4) {
  margin-bottom: 18px;
}

.wrapper-pc .login-wrapper .member-layout .table-grid:last-child {
  border-top: 1px solid #ddd;
  padding-top: 19px;
  margin-bottom: 0px;
}

.wrapper-pc .login-wrapper .table-grid__right .txt_1 {
  font-weight: 500;
  color: #4ba4d9;
  text-decoration: underline;
  font-size: 12px;
}

.wrapper-pc .login-wrapper .checkbox-layout {
  margin: 12px 0 0;
}

.wrapper-pc .login-wrapper .checkbox-layout .table-grid__left .bx_input label {
  font-size: 12px;
  font-weight: normal;
  color: #666666;
}

.wrapper-pc .login-wrapper .checkbox-layout .table-grid__left a {
  font-size: 12px;
}

.wrapper-pc .login .login-wrapper .sns-layout {
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.wrapper-pc .login .login-wrapper .sns-layout .sns-login {
  padding: 9px 28px;
}

.wrapper-pc .sns-login li {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.wrapper-pc .sns-login li:last-child {
  border-bottom: none;
}

.wrapper-pc .sns-login li::after {
  position: absolute;
  width: 10px;
  height: 15px;
  background: url('../img/icon/ioc_arr_right.png') no-repeat center center;
  background-size: cover;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}

.wrapper-pc .sns-login__action {
  font-weight: 500;
  display: inline-block;
  padding-left: 42px;
  height: 52px;
  font-size: 14px;
  line-height: 4.3;
  color: #666;
}

.wrapper-pc .sns-login__action::before {
  position: absolute;
  width: 24px;
  height: 24px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}

.wrapper-pc .sns-login__action.google::before {
  background-image: url('../img/icon/icon_google.png');
}

.wrapper-pc .sns-login__action.line::before {
  background-image: url('../img/icon/icon_line.png');
}

.wrapper-pc .sns-login__action.facebook::before {
  background-image: url('../img/icon/icon_facebook.png');
}

.wrapper-pc .login-wrapper .member-join {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #999;
}

.wrapper-pc .table-grid__left span a,
.wrapper-pc .login-wrapper .member-join a {
  font-weight: 500;
  color: #4ba4d9;
}

.wrapper-pc .login .checkbox-layout .table-grid__left {
  display: block;
}

.wrapper-pc .login .checkbox-layout .table-grid__left:nth-child(2) {
  padding: 10px 0 0 32px;
}


/* login popup all */

.wrapper-pc .message-popup,
.wrapper-pc .member-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 8px;
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  width: 360px;
  padding-top: 40px;
}

.wrapper-pc .message-popup .popup-text {
  font-size: 14px;
  letter-spacing: -0.1px;
}

.wrapper-pc .message-popup::before {
  position: absolute;
  top: -90px;
  left: 50%;
  width: 150px;
  height: 100px;
  background: url("../img/login/popup.png") no-repeat center top;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  content: "";
}

.wrapper-pc .message-popup h1,
.wrapper-pc .member-popup h1 {
  font-size: 22px;
  line-height: 1.36;
  font-weight: bold;
  margin-bottom: 12px;
}

.wrapper-pc .popup-header {
  padding: 0 40px;
}

.wrapper-pc .popup-text {
  padding: 0 40px;
}

.wrapper-pc .popup-text .message {
  padding-bottom: 40px;
}

.wrapper-pc .popup-footer {
  margin-top: 27px;
  border-top: solid 1px #eee;
  font-size: 0;
}

.wrapper-pc .popup-footer .btn-sure,
.wrapper-pc .popup-footer .btn-cancel {
  display: inline-block;
  width: 100%;
  line-height: 52px;
  background-color: #fff;
  color: #00d664;
  font-weight: 500;
  border-radius: 0 0 8px 8px;
  font-size: 16px;
}

.wrapper-pc .popup-footer .btn-size {
  width: 50% !important;
}

.wrapper-pc .popup-footer .btn-cancel {
  color: #666;
  width: calc(50% - 1px);
  border-right: solid 1px #eee;
  border-bottom-right-radius: 0px;
}

.wrapper-pc .member-popup {
  width: 680px;
}

.wrapper-pc .member-popup h1 {
  margin-bottom: 17px;
}

.wrapper-pc .member-popup .popup-text {
  margin: 0 40px 40px;
  height: 320px;
  border-radius: 4px;
  border: solid 1px #dddddd;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.wrapper-pc .member-popup .popup-text strong {
  display: block;
  font-weight: 500;
  color: #333333;
}

.wrapper-pc .member-popup .popup-footer {
  width: 176px;
  margin: 0 auto;
  padding-bottom: 32px;
}

.wrapper-pc .message-popup .btn_close,
.wrapper-pc .member-popup .btn_close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  font-size: 0;
  background: url(../img/icon/ico_close_coupon.png) center center no-repeat;
}

/* register success */
.wrapper-pc .register-success {
  text-align: center;
  padding: 26px 0 206px;
}

.wrapper-pc .password-wrapper {
  text-align: center;
  padding: 26px 0 272px;
}

/* signin */
.wrapper-pc .login .success-mail {
  background: url("../img/login/login-img-join.png") no-repeat 50% 65%;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 144px 0 56px;
  letter-spacing: -0.1px;
}


.wrapper-pc .login dl.success-mail dt {
  /* width: 240px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: #00d664;
  font-family: Volte;
  font-weight: 600;
  line-height: 1.2;
}

.wrapper-pc .login dl.success-mail dd {
  font-size: 16px;
}

.wrapper-pc .register-success .btn_green {
  width: 360px;
  margin: auto;
}

/* password */
.wrapper-pc .password-success {
  margin-top: 32px;
  font-size: 0;
}

.wrapper-pc dl.password-success dd {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
}

.wrapper-pc dl.password-success dd strong {
  font-size: 20px;
  color: #00d664;
  font-weight: 600;
  padding-right: 5px;
  font-family: Volte;
}

.wrapper-pc .password-time {
  line-height: 1.5;
  color: #999;
  padding-top: 16px;
  font-size: 12px;
}

.wrapper-pc .password-btn {
  margin-top: 40px;
  font-size: 0;
}

.wrapper-pc .password-btn li {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin: 0 4px;
}

/* email */
.wrapper-pc .email-wrapper {
  background-color: #f6f6f6;
}

.wrapper-pc .email-wrapper .email-password {
  margin: 0 auto;
  background: #fff;
}

.wrapper-pc .email-wrapper h1 {
  text-align: center;
  height: 39px;
  padding-top: 21px;
  border-bottom: solid 1px #eee;
  margin: 0;
  font-weight: normal;
  line-height: 0;
}

.wrapper-pc .email-wrapper .email-content {
  padding: 80px 0;
  text-align: center;
}

.wrapper-pc .email-wrapper .email-content h2 {
  font-size: 22px;
  line-height: 1.36;
  font-weight: bold;
}

.wrapper-pc .email-wrapper .email-content .btn_green {
  width: 360px;
  margin: 40px auto 0;
}

.wrapper-pc .email-wrapper .email-footer {
  width: 600px;
  margin: 0 auto;
  padding: 19px 0 21px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  color: #999;
}

.wrapper-pc .email-wrapper .email-footer a {
  color: #4ba4d9;
  text-decoration: underline;
}

.wrapper-pc .email-wrapper .email-footer p {
  margin-bottom: 20px;
}

.wrapper-pc .email-wrapper.over .email-footer {
  width: 100%;
  text-align: center;
  height: 44px;
  background-color: #f6f6f6;
  line-height: 44px;
  padding: 0;
}

/*calendar*/
.wrapper-pc .login-wrapper .input_list .select_content .year_select {
  width: 94px;
}

.wrapper-pc .login-wrapper .input_list .select_content .month_select,
.wrapper-pc .login-wrapper .input_list .select_content .day_select {
  width: 80px;
}

.wrapper-pc .login-wrapper .input_list .select_content .select_area {
  float: left;
  font-size: 0;
}

.wrapper-pc .login-wrapper .input_list .select_content .select_area span {
  font-size: 14px;
}

.wrapper-pc .login-wrapper .input_list .select_content .select_area .date_word {
  margin: 0 20px 0 8px;
}

.wrapper-pc .login-wrapper .input_list .select_content .select_area .day_word {
  margin-right: 0;
}

.wrapper-pc .login-wrapper .input_list .lst_select_content {
  max-height: 200px;
}

.wrapper-pc .login-wrapper .input_list .lst_select_content li {
  margin: 0;
  padding: 0;
}

.wrapper-pc .login-wrapper .bx_select {
  display: inline-table;
}

.wrapper-pc .login-wrapper .bx_select .txt_select {
  padding: 0 12px;
}

.wrapper-pc .login-wrapper .bx_select .ico_arrow {
  right: 10px;
}

.wrapper-pc .login-wrapper .bx_select .lst_select_content li a {
  padding: 0 12px;
}

.wrapper-pc .login .success-mail .respecttxt {
  display: inline;
  color: #333;
  font-size: 16px;
  font-weight: 400;
}