.email-send-password-success {
  text-align: center;
  &__fig {
    width: 134px;
    margin: 0 auto;
  }
  &__figure {
    width: 154px;
    margin: 0 auto;
  }
  &__info {
    @include notoN;
    padding-top: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-align: center;
    color: #333333;
  }
  &__btn {
    padding-top: 40px;
  }
}